*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 65.2%;
}

html{
    scroll-behavior: smooth;
}

html body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: #00184c;
    background: #eee;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* generique */
.row{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.btn-general{
    background: rgba(242, 67, 56, 0.8);
    border: 3px solid #f24338;
    border-radius: 30px;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.5rem 3rem;
    letter-spacing: 1px;
    transition: 0.5s all ease-in;
}

.btn-general:hover{
    color: #00184c;
    background: transparent;
    border-color: #00184c;
}

.title{
    font-family: 'Century', serif;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sub-title{
    font-size: 1.3rem;
    color: rgba(0, 24, 76, 0.8);
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.learn{
    font-size: 1.2rem;
    color: rgba(0, 24, 76, 0.7);
}

.red{
    color: #f24338;
}

i{
    margin-left: 2rem;
}

/* start navbar styling */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #eee;
}

.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar .logo{
    font-family: 'Century', serif;
    font-size: 4rem;
    font-weight: 600;
}

.navbar .logo span{
    color: #f24338;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li a{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 1.5rem;
    margin-top: 2rem;
    padding-bottom: 0.7rem;
    padding-top: 1rem;
    position: relative;
}

.navbar li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #f24338;
    transform: translateX(-50%);
    transition: 0.5s all ease;
}

.navbar li a:hover::after, .navbar li a.active::after{
    width: 50%;
} 

/* start section home styling */
.home{
    margin-top: 80px;
    margin-bottom: 5rem;
}

.home .left{
    flex-basis: 48%;
    margin-right: 2rem;
}

.home .left h1{
    font-family: 'Century', serif;
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.home .left h1 span{
    color: #f24338;
}

.home .left p{
    padding: 1.5rem 0;
    font-size: 1.4rem;
    color: rgba(0, 24, 76, 0.8);
}

.home .left div{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.home .left div i{
    font-size: 40px;
    cursor: pointer;
}

.home .right{
    flex-basis: 41%;
    margin-left: 2rem;
}

/* start section spread styling */
.spread, .steps, .protect, .world{
    margin: 5rem 0;
    text-align: center;
    padding-top: 4rem;
}

.spread .row{
    padding-top: 5rem;
}

.spread-col{
    flex-basis: 30%;
    margin: 1.5rem 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.spread-col img{
    width: 70px;
    height: 70px;
    padding-bottom: 2rem;
}

.spread-col p{
    font-size: 1.4rem;
    color: rgba(0, 24, 76, 0.8);
    padding-top: 2rem;   
}

.spread-col h3{
    font-family: 'Century', serif;
    font-size: 2rem;
}

.spread-col:hover{
    box-shadow: 0 0 25px rgba(242, 67, 56, 0.4);
}

/* start section symptome styling */
.symptome{
    padding: 10rem 0;
}

.symptome .left, .steps .right, .avoid .left{
    flex-basis: 65%;
}

.symptome .right, .steps .left, .avoid .right{
    flex-basis: 30%;
}

.symptome .right h2{
    font-family: 'Century', serif;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.symptome .right p{
    font-size: 1.4rem;
    color: rgba(0, 24, 76, 0.8);
    padding: 1rem 0;
}

.symptome .right .symptome-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
}

.symptome .right .symptome-ul ul{
    margin: 0;
    padding: 0;
}

.symptome .right .symptome-ul ul li, .steps .left li, .avoid .right ul li{
    list-style-type: disc;
    font-size: 1.4rem;
    color: rgba(0, 24, 76, 0.8);
    margin: 0.8rem 0;
}

/* start section steps styling */
.steps .row, .avoid .row{
    padding: 5rem 0;
}

.steps .left{
    text-align: justify;
}

.steps .left h2, .avoid .right h2{
    font-family: 'Century', serif;
    margin-bottom: 3rem;
    font-size: 2.8rem;
}

.steps .left ul, .avoid .right ul{
    padding-left: 2rem;
}

.steps .left li, .avoid .right ul li{
    margin: 1.5rem 0;
}

.steps .left .btn-general{
    margin-left: 1rem;
    background: rgba(0, 24, 76, 0.7);
    border: 3px solid #00184c;
    transition: all 0.5s ease;
}

.steps .left .btn-general:hover{
    background: none;
    color: #00184c;
}

/* start section protect styling  */
.protect{
    padding: 5rem 0;
    background: rgba(0, 24, 76, 0.1);
}

.protect .row{
    padding: 5rem 5rem 0;
}

.protect-col{
    margin: 2rem;
    text-align: justify;
}

.protect-col img{
    height: 60px;
    width: 60px;
    margin-bottom: 2rem;
}

.protect h2{
    font-size: 3rem;
}

.protect-col h3, .protect h2{
    font-family: 'Century', serif;
    margin-bottom: 2rem;
}

.protect-col p{
    font-size: 1.4rem;
    color: rgba(0, 24, 76, 0.8);
}

/* start section wordl styling */
.world-col{
    margin: 1rem;
}

.world-col .left{
    flex-basis: 65%;
}

.world-col .right{
    flex-basis: 30%;
}

.world h2{
    font-family: 'Century', serif;
    font-size: 3.5rem;
}

.world .row{
    padding: 5rem 0;
}

.world .right{
    text-align: justify;
}

.world .right h4{
    font-size: 3rem;
}

.world .right ul li{
    margin-bottom: 1.5rem;
    padding: 1rem 4rem 1rem 2rem;
}

.world .right ul li:first-child{
    background: rgba(0, 24, 76, 0.1);
    border-left: 10px solid #00184c;
}

.world .right ul li:nth-child(2){
    background: rgba(242, 67, 56, 0.2);
    border-left: 10px solid #f24338;
}

.world .right ul li:nth-child(3){
    background: rgba(0, 24, 76, 0.1);
    border-left: 10px solid #00184c;
}

.sub-world{
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.sub-sub-world{
    color: rgba(0, 24, 76, 0.5);
    font-size: 1rem;
}

/* start section test styling */
.test{
    background: rgba(242, 67, 56, 0.1);
    padding: 5rem 0;
}

.block{
    width: 65%;
    margin: auto;
}

.block-test{
    border-bottom: 2px solid #eee;
    padding: 2rem 0 4rem 0;
}

.block-test ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-test li:nth-child(2){
    margin-left: 3rem;
}

.block-test h1{
    font-family: 'Century', serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.block-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;
}

.block-nav .logo{
    font-size: 2.5rem;
    font-family: 'Century', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.block-nav a span{
    color: #f24338;
}

.block-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-nav i{
    font-size: 20px;
    color: rgba(0, 24, 76, 0.8);
}

.block-nav ul li{
    margin: 0.8rem 1rem 0 1rem;
    font-size: 1.4rem;
    color: rgba(0, 24, 76, 0.7);
}

.block-nav ul a{
    padding: 1rem;
}

/* start footer styling */
.footer{
    background: #00184c;
    color: #fff;
    text-align: center;
}

.footer p{
    font-size: 1.2rem;
    padding: 2rem 0;
}


/* ********************************************************** */

.fa-bars, .fa-xmark{
    display: none;
}

/* start responsive design  */
@media(max-width: 768px){
    .fa-bars, .fa-xmark{
        display: block;
    }

    .header .navbar .fa-bars{
        color: #00184c;
        cursor: pointer;
        font-size: 22px;
        font-weight: 600;
        margin-top: 1rem;
    }

    .navbar {
        height: 70px;
    }

    .navbar .logo{
        font-size: 3.5rem;
    }

    .navbar ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -500px;
        left: 0;
        width: 100%;
        background: rgba(242, 67, 56, 0.9);
        height: 70vh;
        transition: all 0.5s ease;
        z-index: 9999;
    }

    .navbar ul i{
        position: absolute;
        top: 3rem;
        right: 6.5rem;
        cursor: pointer;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
    }

    .navbar li a{
        color: #fff;
        margin: 1rem 0;
    }

    .navbar li a::after{
        background: #fff;
    }

    /* home responsive design */
    .row {
        flex-direction: column;
    }

    .home .left{
        margin: 2rem 0;
    }

    .home .left h1{
        font-size: 3.8rem;
    }

    .symptome {
        padding: 10rem 0 3rem 0;
    }

    .symptome .left{
        margin-bottom: 3rem;
    }

    .protect .row, .world .row{
        width: 95%;
        margin: auto;
    }

    .steps .right, .avoid .right, .world .right {
        margin-top: 3rem;
    }

    .block-test ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block-nav .logo{
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    .block-nav ul li{
        margin: 0.8rem 0.5rem;
    }
}